<li class="hide_this">
	<h4> 
	  sprint
	  <%= b.link_to_remove "remove" %>
	</h4>

	<%= b.label :start_date %>
	<%= b.text_field :start_date, class: :date %> <br/>

	<%= b.label :end_date %>
	<%= b.text_field :end_date, class: :date %> <br/>
</li>